{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <!-- Start Why Choose Us -->
    <section class="td_page_heading td_center td_bg_filed td_heading_bg text-center td_hobble"
             data-src="">
        <div class="container">
            <div class="td_page_heading_in">
                <h1 class="td_white_color td_fs_48 td_mb_10">About Us</h1>
            </div>
        </div>
        <div class="td_page_heading_shape_1 position-absolute td_hover_layer_3"></div>
        <div class="td_page_heading_shape_2 position-absolute td_hover_layer_5"></div>
        <div class="td_page_heading_shape_3 position-absolute">
            <img src="{% static 'assets/img/others/page_heading_shape_3.svg' %}" alt="">
        </div>
        <div class="td_page_heading_shape_4 position-absolute">
            <img src="{% static 'assets/img/others/page_heading_shape_4.svg' %}" alt="">
        </div>
        <div class="td_page_heading_shape_5 position-absolute">
            <img src="{% static 'assets/img/others/page_heading_shape_5.svg' %}" alt="">
        </div>
        <div class="td_page_heading_shape_6 position-absolute td_hover_layer_3"></div>
    </section>
    <section class="td_gray_bg_4 td_shape_section_1">
        <div class="td_shape td_shape_position_1">
            <img src="{% static 'assets/img/home_2/why_choose_us_shape_1.svg' %}" alt="">
        </div>
        <div class="td_shape td_shape_position_2"></div>
        <div class="td_shape td_shape_position_3"></div>
        <div class="td_height_112 td_height_lg_75"></div>
        <div class="container">
            <div class="row align-items-center td_gap_y_40">
                <div class="col-xl-6">
                    <div class="td_image_box td_style_1">
                        <img src="{% static 'assets/aseb/aseb_us.jpeg' %}" alt=""
                             class="td_image_box_thumb wow fadeInUp"
                             data-wow-duration="1s" data-wow-delay="0.2s">
                        <a href="https://www.youtube.com/embed/-mLgUFYSzPI?start=191"
                           class="td_player_btn_wrap_3 td_video_open td_center wow fadeInRight" data-wow-duration="1s"
                           data-wow-delay="0.2s">
                <span class="td_player_btn td_center">
                  <span></span>
                </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="td_section_heading td_style_1">
                        <p class="td_section_subtitle_up td_fs_18 td_semibold td_spacing_1 td_mb_10 text-uppercase td_accent_color">
                            About Us
                        </p>
                        <p class="td_section_subtitle td_fs_18 mb-0">The Africa Startup Ecosystem Builders Society (ASEB
                            Society) is a pan-African <b>“network of
                                networks” </b>uniting ecosystem builders, entrepreneurs, policymakers, and organizations
                            dedicated
                            to advancing inclusive and resilient startup ecosystems across the continent. As the African
                            counterpart to global ecosystem-building movements, ASEB Society serves as a collaborative
                            platform to amplify local expertise, share resources, and co-create solutions to systemic
                            challenges—empowering communities to build economies where innovation thrives for all.</p>
                        <p class="td_section_subtitle td_fs_18 mb-0">Using a <b>network-driven approach</b>, we connect
                            ecosystem builders, startups, investors, and
                            institutions under a shared vision, enabling collective action to address barriers like
                            funding
                            gaps, policy fragmentation, and talent development. Together, we advance the principles of
                            ecosystem building as a strategic model for economic transformation.</p>
                    </div>
                    <div class="td_height_40 td_height_lg_40"></div>
                    <div class="td_mb_40">
                        <ul class="td_list td_style_5 td_mp_0">
                            <li>
                                <h3 class="td_fs_24 td_mb_8">Our Mission</h3>
                                <p class="td_fs_18 mb-0">To advance<b>startup ecosystem building</b> as a strategic
                                    approach
                                    to <b>economic development</b> ,
                                    fostering inclusive, sustainable, and thriving startup ecosystems across Africa.</p>
                            </li>
                            <li>
                                <h3 class="td_fs_24 td_mb_8">Our Vision</h3>
                                <p class="td_fs_18 mb-0">We envision a future where <b>African economies are more
                                    resilient, equitable, and innovative,</b>
                                    powered by strong and interconnected startup ecosystems</p>
                            </li>
                        </ul>
                    </div>
                    <div class="td_height_40 td_height_lg_40"></div>

                </div>
            </div>
        </div>
        <div class="td_height_112 td_height_lg_75"></div>
    </section>
    <!-- End Why Choose Us -->
{% endblock %}