{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <!-- Start Contact Section -->
       <section class="td_page_heading td_center td_bg_filed td_heading_bg text-center td_hobble"
             data-src="">
        <div class="container">
            <div class="td_page_heading_in">
                <h1 class="td_white_color td_fs_48 td_mb_10">Contact Us</h1>
            </div>
        </div>
        <div class="td_page_heading_shape_1 position-absolute td_hover_layer_3"></div>
        <div class="td_page_heading_shape_2 position-absolute td_hover_layer_5"></div>
        <div class="td_page_heading_shape_3 position-absolute">
            <img src="{% static 'assets/img/others/page_heading_shape_3.svg' %}" alt="">
        </div>
        <div class="td_page_heading_shape_4 position-absolute">
            <img src="{% static 'assets/img/others/page_heading_shape_4.svg' %}" alt="">
        </div>
        <div class="td_page_heading_shape_5 position-absolute">
            <img src="{% static 'assets/img/others/page_heading_shape_5.svg' %}" alt="">
        </div>
        <div class="td_page_heading_shape_6 position-absolute td_hover_layer_3"></div>
    </section>
    <section>
        <div class="td_height_120 td_height_lg_80"></div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-10 offset-xxl-1">
                    <div class="row align-items-center td_gap_y_40">
                        <div class="col-lg-7">
                            <div class="td_form_card td_style_1 td_radius_10 td_gray_bg_5">
                                <div class="td_form_card_in">
                                    <h2 class="td_fs_36 td_mb_20">Give FeedBack</h2>
                                    <hr>
                                    <div class="td_height_30 td_height_lg_30"></div>
                                    <input type="text" class="td_form_field td_mb_30 td_medium td_white_bg"
                                           placeholder="Full Name *" required>
                                    <input type="text" class="td_form_field td_mb_30 td_medium td_white_bg"
                                           placeholder="Phone *" required>
                                    <input type="email" class="td_form_field td_mb_30 td_medium td_white_bg"
                                           placeholder="Email *" required>
                                    <textarea type="password" class="td_form_field td_mb_30 td_medium td_white_bg"
                                              placeholder="Give your FeedBack *" required></textarea>
                                    <div class="td_form_card_bottom td_mb_25">
                                        <button type="submit" class="td_btn td_style_1 td_radius_10 td_medium">
                    <span class="td_btn_in td_white_color td_accent_bg">
                      <span>Submit</span>
                    </span>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 offset-xl-1 col-lg-5">
                            <div class="td_contact_info">
                                <div class="td_section_heading td_style_2 td_mb_20">
                                    <h2 class="td_contact_info_title td_fs_36 mb-0">Our Office Address</h2>
                                </div>
                                <div class="td_mb_40">
                                    <h2 class="td_fs_24 td_semibold td_mb_20"> Johannesburg, South Africa</h2>

                                    <p class="td_fs_18 td_heading_color td_medium mb-0 td_opacity_7">
                                        <a href="mailto:aseb@aseb.africa">aseb@aseb.africa</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="td_height_120 td_height_lg_80"></div>
        <div class="td_map">
            <iframe id="map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96652.27317354927!2d-74.33557928194516!3d40.79756494697628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3a82f1352d0dd%3A0x81d4f72c4435aab5!2sTroy+Meadows+Wetlands!5e0!3m2!1sen!2sbd!4v1563075599994!5m2!1sen!2sbd"
                    allowfullscreen=""></iframe>
        </div>
    </section>
{% endblock %}