{% extends 'base.html' %}
{% block  content %}
    {% load static %}
    <section class="td_hero td_style_1 td_heading_bg td_center td_bg_filed" data-src="assets/img/home_1/hero_bg_1.jpg"
    >
        <div class="container">
            <div class="td_hero_text wow fadeInRight" data-wow-duration="0.9s" data-wow-delay="0.35s">

                <h1 class="td_hero_title td_fs_64 td_white_color td_mb_12">Africa Startup Ecosystem Builders Society
                    (ASEB Society)</h1>
                <p class="td_hero_subtitle td_fs_18 td_white_color td_opacity_7 td_mb_30">We envision a future where
                    African economies are more resilient, equitable, and innovative, powered by strong and
                    interconnected startup ecosystems</p>
                <a href="#" class="td_btn td_style_1 td_radius_10 td_medium">
            <span class="td_btn_in td_white_color td_accent_bg">
              <span>About Us</span>
              <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.1575 4.34302L3.84375 15.6567" stroke="currentColor" stroke-width="1.5"
                      stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M15.157 11.4142C15.157 11.4142 16.0887 5.2748 15.157 4.34311C14.2253 3.41142 8.08594 4.34314 8.08594 4.34314"
                      stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </span>
                </a>
            </div>
        </div>
    </section>
    <section>
        <div class="td_height_120 td_height_lg_80"></div>
        <div class="container">
            <div class="row align-items-center td_gap_y_40">
                <div class="col-lg-6">
                    <div class="td_image_box td_style_6 td_type_1">
                        <div class="td_faq_1_left wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                            <div style="border-radius: 20px" class="td_faq_1_img td_bg_filed"
                                 data-src="{% static 'assets/aseb/9ee2d6b5-9934-4c9a-a46b-85f6ba894d95.jpeg' %}"></div>
                        </div>
                        <div class="td_image_box_shape_1 position-absolute"></div>
                        {#                        <div class="td_image_box_shape_2 position-absolute">#}
                        {#                            <img src="{% static 'assets/img/home_5/about_shape_2.svg' %}" alt="">#}
                        {#                        </div>#}
                        <div class="td_image_box_shape_3 position-absolute td_accent_color">
                            <img src="{% static 'assets/img/home_7/about_shape_3.svg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="td_section_heading td_style_1 td_mb_30">
                        <p class="td_section_subtitle_up td_fs_18 td_medium td_spacing_1 td_mb_10 td_accent_color">About
                            us</p>
                        <h6 class="td_section_title td_fs_48 td_mb_30">Africa Startup Ecosystem Builders Society (ASEB
                            Society)</h6>

                        <p class="td_section_subtitle td_fs_18 mb-0">The Africa Startup Ecosystem Builders Society (ASEB
                            Society) is a pan-African <b>“network of
                                networks”</b> uniting ecosystem builders, entrepreneurs, policymakers, and organizations
                            dedicated
                            to advancing inclusive and resilient startup ecosystems across the continent./p>
                    </div>
                    <div class="td_mb_40">
                        <ul class="td_list td_style_2 td_type_1 td_fs_24 td_medium td_heading_color td_mp_0">
                            <li>
                                <svg class="td_heading_color" width="30" height="30" viewBox="0 0 30 30" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.668 3.44522C19.7068 2.31076 17.4299 1.66146 15.0013 1.66146C7.6375 1.66146 1.66797 7.631 1.66797 14.9948C1.66797 22.3586 7.6375 28.3281 15.0013 28.3281C22.3651 28.3281 28.3346 22.3586 28.3346 14.9948C28.3346 14.0816 28.2428 13.1898 28.0679 12.3281"
                                          stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    <path d="M9.66797 15.6641C9.66797 15.6641 11.668 15.6641 14.3346 20.3307C14.3346 20.3307 21.7464 8.10851 28.3346 5.66406"
                                          stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                </svg>
                                Our Mission

                            </li>
                            <p>To advance startup ecosystem building as a strategic approach to economic development,
                                fostering inclusive, sustainable, and thriving startup ecosystems across Africa.</p>
                            <li>
                                <svg class="td_heading_color" width="30" height="30" viewBox="0 0 30 30" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.668 3.44522C19.7068 2.31076 17.4299 1.66146 15.0013 1.66146C7.6375 1.66146 1.66797 7.631 1.66797 14.9948C1.66797 22.3586 7.6375 28.3281 15.0013 28.3281C22.3651 28.3281 28.3346 22.3586 28.3346 14.9948C28.3346 14.0816 28.2428 13.1898 28.0679 12.3281"
                                          stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    <path d="M9.66797 15.6641C9.66797 15.6641 11.668 15.6641 14.3346 20.3307C14.3346 20.3307 21.7464 8.10851 28.3346 5.66406"
                                          stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                </svg>
                                Our Vision
                            </li>
                            <p>We envision a future where African economies are more resilient, equitable, and
                                innovative,
                                powered by strong and interconnected startup ecosystems</p>
                        </ul>
                    </div>
                    <div class="td_btns_group">
                        <a href="#"
                           class="td_btn td_style_1 td_type_2 td_radius_30 td_medium">
                <span class="td_btn_in td_white_color td_accent_bg">
                  <span>About Us</span>
                  <span class="td_btn_icon td_center td_accent_bg td_white_color">
                    <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.24811 1.49512C1.24811 1.49512 8.74803 7.01878 8.74805 8.99518C8.74807 10.9716 1.24805 16.4951 1.24805 16.4951"
                            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </span>
                </span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="td_height_120 td_height_lg_80"></div>
    </section>
    <!-- End About Section -->
    <!-- Start back ground Section -->
    <section class="td_accent_bg td_shape_section_5 td_hobble">
        <div class="td_shape_position_1 position-absolute td_hover_layer_3"></div>
        <div class="td_shape_position_2 position-absolute td_hover_layer_5">
            <img src="{% static 'assets/img/home_8/testimonial_shape_1.svg' %}" alt="">
        </div>
        <div class="td_shape_position_3 position-absolute td_hover_layer_3"></div>
        <div class="td_shape_position_4 position-absolute td_hover_layer_5"></div>
        <div class="td_shape_position_5 position-absolute td_hover_layer_3">
            <img src="{% static 'assets/img/home_8/testimonial_shape_3.svg' %}" alt="">
        </div>
        <div class="td_shape_position_6 position-absolute">
            <img src="{% static 'assets/img/home_8/testimonial_shape_4.svg' %}" alt="">
        </div>
        <div class="td_height_120 td_height_lg_80"></div>
        <div class="container">
            <div class="row td_gap_y_40">
                <div class="col-lg-7 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="td_image_box td_style_8 td_type_1">
                        <img src="{% static 'assets/aseb/society.jpeg' %}" alt="" class="td_image_box_img_1">
                        <img src="{% static 'assets/aseb/society.jpeg' %}" alt=""
                             class="td_image_box_img_2 position-absolute">
                        <img src="{% static 'assets/aseb/society.jpeg' %}" alt=""
                             class="td_image_box_img_3 position-absolute">
                        <div class="td_image_box_shape_1 td_accent_color position-absolute">
                            <img src="{% static 'assets/img/home_8/testimonial_shape_2.svg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="td_section_heading td_style_1">
                        <p class="td_section_subtitle_up td_fs_18 td_semibold td_spacing_1 td_mb_10 text-uppercase td_white_color">
                            Background & Origin</p>

                    </div>
                    <div class="td_height_50 td_height_lg_50"></div>
                    <div class="td_slider td_style_1">
                        <div class="td_slider_container" data-autoplay="0" data-loop="1" data-speed="800"
                             data-center="0" data-variable-width="0" data-slides-per-view="1">
                            <div class="td_slider_wrapper">
                                <div class="td_slide">
                                    <div class="td_testimonial td_style_1 td_type_3">

                                        <p style="color:white;">
                                            ASEB Society emerged from the <b>Africa Startup Ecosystem Builders Summit &
                                            Awards (ASEB),</b>
                                            a movement launched in 2022 to unite Africa’s entrepreneurial
                                            leaders. Over three
                                            years, ASEB convened <b>600+ builders from 44 African nations</b> ,
                                            recognized<b> 400+
                                            pioneers </b>like
                                            Tomi Davies, Rebecca Enonchong, Tervern Jaftha and built partnerships with
                                            <b>10 Country
                                                Partners </b> to embed ecosystem-building principles locally.
                                        </p>
                                        <p style="color:white;">
                                            In 2025, ASEB evolved into a formal nonprofit—<b>ASEB Society</b>—to provide
                                            year-round
                                            support, addressing the need for structured collaboration, capacity
                                            building, research, and
                                            advocacy. Inspired by global frameworks, ASEB Society is Africa’s answer to
                                            advancing
                                            ecosystem building as a profession and a pillar of economic development
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="td_height_120 td_height_lg_80"></div>
    </section>
    <!-- Start Why Choose Us Section -->
    <section class="td_gray_bg_6">
        <div class="td_height_120 td_height_lg_80"></div>
        <div class="container">
            <div class="row align-items-center td_gap_y_40">
                <div class="col-lg-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="td_pr_20">
                        <div class="td_section_heading td_style_1 td_mb_30">
                            <p class="td_section_subtitle_up td_fs_18 td_medium td_spacing_1 td_mb_10 td_accent_color">
                                What
                                We Do</p>
                            <h4>ASEB Society drives systemic change through
                                programs and services that empower, connect,
                                and elevate ecosystem builders while addressing the full spectrum of startup ecosystem
                                development. </h4>
                            <p class="td_section_subtitle td_fs_18 mb-0">Here’s our expanded framework:</p>
                        </div>
                        <div class="td_mb_40">
                            <ul class="td_list td_style_2 td_fs_20 td_medium td_heading_color td_mp_0">
                                <li>
                                    <svg class="td_accent_color" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="12" cy="12" r="12" fill="currentColor"></circle>
                                        <path d="M7.5 14.1136C7.5 14.1136 8.52273 14.1136 9.88636 16.5C9.88636 16.5 13.6765 10.25 17.0455 9"
                                              stroke="white" stroke-width="0.8" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                    ASEB Summit & Awards
                                </li>
                                <li>
                                    <svg class="td_accent_color" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="12" cy="12" r="12" fill="currentColor"></circle>
                                        <path d="M7.5 14.1136C7.5 14.1136 8.52273 14.1136 9.88636 16.5C9.88636 16.5 13.6765 10.25 17.0455 9"
                                              stroke="white" stroke-width="0.8" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                    ASEB Academy
                                </li>
                                <li>
                                    <svg class="td_accent_color" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="12" cy="12" r="12" fill="currentColor"></circle>
                                        <path d="M7.5 14.1136C7.5 14.1136 8.52273 14.1136 9.88636 16.5C9.88636 16.5 13.6765 10.25 17.0455 9"
                                              stroke="white" stroke-width="0.8" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                    ASEB Voices Series
                                </li>
                                <li>
                                    <svg class="td_accent_color" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="12" cy="12" r="12" fill="currentColor"></circle>
                                        <path d="M7.5 14.1136C7.5 14.1136 8.52273 14.1136 9.88636 16.5C9.88636 16.5 13.6765 10.25 17.0455 9"
                                              stroke="white" stroke-width="0.8" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                    ASEB Women in Ecosystem Building
                                </li>
                                <li>
                                    <svg class="td_accent_color" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="12" cy="12" r="12" fill="currentColor"></circle>
                                        <path d="M7.5 14.1136C7.5 14.1136 8.52273 14.1136 9.88636 16.5C9.88636 16.5 13.6765 10.25 17.0455 9"
                                              stroke="white" stroke-width="0.8" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                    Policy Advocacy & Thought Leadership
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s"
                     style="border-radius: 20px">
                    <div class="td_pl_65">
                        <img src="{% static 'assets/aseb/find_out.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="td_height_120 td_height_lg_80"></div>
    </section>
    <section class="td_heading_bg td_shape_section_9">
        <div class="td_shape_position_3 position-absolute"></div>
        <div class="td_height_112 td_height_lg_75"></div>
        <div class="container">
            <div class="td_section_heading td_style_1 text-center wow fadeInUp" data-wow-duration="1s"
                 data-wow-delay="0.2s">

                <h2 class="td_section_title td_fs_48 mb-0 td_white_color">Join the movement
                </h2>
                <p class="td_section_subtitle_up td_fs_18 td_semibold td_spacing_1 td_mb_10 text-uppercase td_white_color">
                    ASEB Society is built on collaboration and
                    collective action. We invite entrepreneurs,
                    incubators, accelerators, development organizations, policymakers, Universities and
                    corporate partners to join us in shaping the future of Africa’s startup ecosystem.</p>
            </div>
            <div class="td_height_50 td_height_lg_50"></div>
            <div class="row align-items-center td_gap_y_40">
                <div class="col-xl-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="td_pr_35">
                        <img src="{% static 'assets/aseb/ff8d07eb-fdb7-4838-9a6c-e5d8400be4b9.jpeg' %}" alt=""
                             class="td_radius_5 w-100">
                    </div>
                </div>
                <div class="col-xl-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="row td_gap_y_30 td_row_gap_30">
                        <div class="col-md-6">
                            <div class="td_iconbox td_style_4 td_radius_10">
                                <div class="td_iconbox_icon td_mb_16">
                                    <img src="{% static 'assets/img/home_3/achievement_icon_1.svg' %}" alt="">
                                </div>
                                <h3 class="td_iconbox_title td_fs_24 td_mb_12 td_semibold td_white_color">Become a
                                    Member</h3>
                                <p class="td_iconbox_subtitle mb-0 td_fs_14 td_white_color td_opacity_7">Be part of a
                                    growing network of startup ecosystem builders.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="td_iconbox td_style_4 td_radius_10">
                                <div class="td_iconbox_icon td_mb_16">
                                    <img src="{% static 'assets/img/home_3/achievement_icon_2.svg' %}" alt="">
                                </div>
                                <h3 class="td_iconbox_title td_fs_24 td_mb_12 td_semibold td_white_color">Contribute as
                                    a Mentor or Speaker</h3>
                                <p class="td_iconbox_subtitle mb-0 td_fs_14 td_white_color td_opacity_7">hare your
                                    insights with emerging leaders.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="td_iconbox td_style_4 td_radius_10">
                                <div class="td_iconbox_icon td_mb_16">
                                    <img src="{% static 'assets/img/home_3/achievement_icon_3.svg' %}" alt="">
                                </div>
                                <h3 class="td_iconbox_title td_fs_24 td_mb_12 td_semibold td_white_color">Partner with
                                    Us</h3>
                                <p class="td_iconbox_subtitle mb-0 td_fs_14 td_white_color td_opacity_7">Collaborate
                                    with ASEB Society to create impactful programs and initiatives.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="td_iconbox td_style_4 td_radius_10">
                                <div class="td_iconbox_icon td_mb_16">
                                    <img src="{% static 'assets/img/home_3/achievement_icon_4.svg' %}" alt="">
                                </div>
                                <h3 class="td_iconbox_title td_fs_24 td_mb_12 td_semibold td_white_color">Volunteer</h3>
                                <p class="td_iconbox_subtitle mb-0 td_fs_14 td_white_color td_opacity_7">Join our
                                    dynamic team working to strengthen Africa’s startup landscape.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="td_height_120 td_height_lg_80"></div>
    </section>
    <!-- Start goals Section -->
    <section class="td_shape_section_7 td_hobble">
        <div class="td_shape_position_1 position-absolute td_hover_layer_3">
            <img src="{% static 'assets/img/home_2/testimonial_shape_1.svg' %}" alt="">
        </div>
        <div class="td_shape_position_2 position-absolute td_hover_layer_5">
            <img src="{% static 'assets/img/home_2/testimonial_shape_2.svg' %}" alt="">
        </div>
        <div class="td_shape_position_3 position-absolute td_hover_layer_3">
            <img src="{% static 'assets/img/home_2/testimonial_shape_3.svg' %}" alt="">
        </div>
        <div class="td_shape_position_4 position-absolute td_hover_layer_5">
            <img src="{% static 'assets/img/home_2/testimonial_shape_4.svg' %}" alt="">
        </div>
        <div class="td_height_112 td_height_lg_75"></div>
        <div class="container">
            <div class="td_section_heading td_style_1 text-center wow fadeInUp" data-wow-duration="1s"
                 data-wow-delay="0.2s">
                <p class="td_section_subtitle_up td_fs_18 td_semibold td_spacing_1 td_mb_10 text-uppercase td_accent_color">
                    <i></i>
                    Goals
                    <i></i>
                </p>
                <h2 class="td_section_title td_fs_48 mb-0">Redefining Pathways for Entrepreneurial Ecosystems</h2>
                <p class="td_section_subtitle td_fs_18 mb-0">ASEB Society outlines seven transformative objectives to
                    elevate ecosystem building, fostering
                    inclusive, interconnected communities where entrepreneurship thrives. Here’s the reimagined
                    framework:</p>
            </div>
            <div class="td_height_50 td_height_lg_50"></div>
            <div class="td_slider td_style_1 td_slider_gap_24 td_remove_overflow wow fadeInUp" data-wow-duration="1s"
                 data-wow-delay="0.3s">
                <div class="td_slider_container" data-autoplay="0" data-loop="1" data-speed="800" data-center="0"
                     data-variable-width="0" data-slides-per-view="responsive" data-xs-slides="1" data-sm-slides="2"
                     data-md-slides="2" data-lg-slides="2" data-add-slides="2">
                    <div class="td_slider_wrapper">
                        <div class="td_slide">
                            <div class="td_testimonial td_style_1 td_type_1 td_white_bg td_radius_5">
                  <span class="td_quote_icon td_accent_color">
                    <svg width="65" height="46" viewBox="0 0 65 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path opacity="0.05"
                            d="M13.9286 26.6H1V1H26.8571V27.362L17.956 45H6.26764L14.8213 28.0505L15.5534 26.6H13.9286ZM51.0714 26.6H38.1429V1H64V27.362L55.0988 45H43.4105L51.9642 28.0505L52.6962 26.6H51.0714Z"
                            fill="currentColor" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                  </span>
                                <div class="td_testimonial_meta td_mb_24">

                                    <div class="td_testimonial_meta_right">
                                        <h3 class="td_fs_24 td_semibold td_mb_2">Diverse Leadership Networks</h3>

                                    </div>
                                </div>
                                <blockquote
                                        class="td_testimonial_text td_fs_20 td_medium td_heading_color td_mb_24 td_opacity_9">
                                    <P>Amplify underrepresented voices to dismantle inequity.
                                        Cultivate leadership from diverse backgrounds to drive equitable access and
                                        systemic
                                        change.</P>

                                    <p>Key Actions:<br>Fellowships for marginalized builders, inclusive speaker
                                        databases,
                                        and resource
                                        provider diversity initiatives.</p></blockquote>

                            </div>
                        </div>
                        <div class="td_slide">
                            <div class="td_testimonial td_style_1 td_type_1 td_white_bg td_radius_5">
                  <span class="td_quote_icon td_accent_color">
                    <svg width="65" height="46" viewBox="0 0 65 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path opacity="0.05"
                            d="M13.9286 26.6H1V1H26.8571V27.362L17.956 45H6.26764L14.8213 28.0505L15.5534 26.6H13.9286ZM51.0714 26.6H38.1429V1H64V27.362L55.0988 45H43.4105L51.9642 28.0505L52.6962 26.6H51.0714Z"
                            fill="currentColor" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                  </span>
                                <div class="td_testimonial_meta td_mb_24">

                                    <div class="td_testimonial_meta_right">
                                        <h3 class="td_fs_24 td_semibold td_mb_2">Trust-Driven Partnerships</h3>

                                    </div>
                                </div>
                                <blockquote
                                        class="td_testimonial_text td_fs_20 td_medium td_heading_color td_mb_24 td_opacity_9">
                                    <P>Bridge divides through collective action.
                                        Foster unity across sectors by prioritizing shared resources and transparent
                                        collaboration.</P>

                                    <p>Key Actions:<br>Regional collaboration toolkits, ambassador programs, and
                                        culture-building
                                        workshops.</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="td_slide">
                            <div class="td_testimonial td_style_1 td_type_1 td_white_bg td_radius_5">
                  <span class="td_quote_icon td_accent_color">
                    <svg width="65" height="46" viewBox="0 0 65 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path opacity="0.05"
                            d="M13.9286 26.6H1V1H26.8571V27.362L17.956 45H6.26764L14.8213 28.0505L15.5534 26.6H13.9286ZM51.0714 26.6H38.1429V1H64V27.362L55.0988 45H43.4105L51.9642 28.0505L52.6962 26.6H51.0714Z"
                            fill="currentColor" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                  </span>
                                <div class="td_testimonial_meta td_mb_24">

                                    <div class="td_testimonial_meta_right">
                                        <h3 class="td_fs_24 td_semibold td_mb_2">Unified Lexicon Development</h3>
                                    </div>
                                </div>
                                <blockquote
                                        class="td_testimonial_text td_fs_20 td_medium td_heading_color td_mb_24 td_opacity_9">
                                    <P>Align language to accelerate impact.
                                        Harmonize terminology and outcomes to streamline cross-field collaboration</P>

                                    <p>Key Actions:<br>Field-wide mission alignment, dynamic terminology dictionaries,
                                        and a
                                        universal
                                        professional pledge.</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="td_slide">
                            <div class="td_testimonial td_style_1 td_type_1 td_white_bg td_radius_5">
                  <span class="td_quote_icon td_accent_color">
                    <svg width="65" height="46" viewBox="0 0 65 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path opacity="0.05"
                            d="M13.9286 26.6H1V1H26.8571V27.362L17.956 45H6.26764L14.8213 28.0505L15.5534 26.6H13.9286ZM51.0714 26.6H38.1429V1H64V27.362L55.0988 45H43.4105L51.9642 28.0505L52.6962 26.6H51.0714Z"
                            fill="currentColor" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                  </span>
                                <div class="td_testimonial_meta td_mb_24">

                                    <div class="td_testimonial_meta_right">
                                        <h3 class="td_fs_24 td_semibold td_mb_2">Cross-Sector Connectivity</h3>
                                    </div>
                                </div>
                                <blockquote
                                        class="td_testimonial_text td_fs_20 td_medium td_heading_color td_mb_24 td_opacity_9">
                                    <P>Align language to accelerate impact.
                                        Harmonize terminology and outcomes to streamline cross-field collaboration</P>

                                    <p>Key Actions:<br>Field-wide mission alignment, dynamic terminology dictionaries,
                                        and a
                                        universal
                                        professional pledge.</p>
                                </blockquote>

                            </div>
                        </div>
                        <div class="td_slide">
                            <div class="td_testimonial td_style_1 td_type_1 td_white_bg td_radius_5">
                  <span class="td_quote_icon td_accent_color">
                    <svg width="65" height="46" viewBox="0 0 65 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path opacity="0.05"
                            d="M13.9286 26.6H1V1H26.8571V27.362L17.956 45H6.26764L14.8213 28.0505L15.5534 26.6H13.9286ZM51.0714 26.6H38.1429V1H64V27.362L55.0988 45H43.4105L51.9642 28.0505L52.6962 26.6H51.0714Z"
                            fill="currentColor" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                  </span>
                                <div class="td_testimonial_meta td_mb_24">

                                    <div class="td_testimonial_meta_right">
                                        <h3 class="td_fs_24 td_semibold td_mb_2">Impact Measurement Standards</h3>
                                    </div>
                                </div>
                                <blockquote
                                        class="td_testimonial_text td_fs_20 td_medium td_heading_color td_mb_24 td_opacity_9">
                                    <P>Quantify progress to refine practices.
                                        Establish metrics that capture ecosystem complexity and drive innovation.</P>

                                    <p>Key Actions:<br>Peer learning hubs, case study repositories, and
                                        practitioner-researcher
                                        conferences.</p>

                                </blockquote>

                            </div>
                        </div>
                        <div class="td_slide">
                            <div class="td_testimonial td_style_1 td_type_1 td_white_bg td_radius_5">
                  <span class="td_quote_icon td_accent_color">
                    <svg width="65" height="46" viewBox="0 0 65 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path opacity="0.05"
                            d="M13.9286 26.6H1V1H26.8571V27.362L17.956 45H6.26764L14.8213 28.0505L15.5534 26.6H13.9286ZM51.0714 26.6H38.1429V1H64V27.362L55.0988 45H43.4105L51.9642 28.0505L52.6962 26.6H51.0714Z"
                            fill="currentColor" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                  </span>
                                <div class="td_testimonial_meta td_mb_24">

                                    <div class="td_testimonial_meta_right">
                                        <h3 class="td_fs_24 td_semibold td_mb_2">Global Advocacy Initiatives</h3>

                                    </div>
                                </div>
                                <blockquote
                                        class="td_testimonial_text td_fs_20 td_medium td_heading_color td_mb_24 td_opacity_9">
                                    <P>Mobilize champions for entrepreneurial ecosystems.
                                        Educate policymakers and institutions on entrepreneurship’s societal value.</P>

                                    <p>Key Actions:<br>Policy playbooks, awareness campaigns, and foundation activation
                                        programs.</p>
                                </blockquote>

                            </div>
                        </div>
                        <div class="td_slide">
                            <div class="td_testimonial td_style_1 td_type_1 td_white_bg td_radius_5">
                  <span class="td_quote_icon td_accent_color">
                    <svg width="65" height="46" viewBox="0 0 65 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path opacity="0.05"
                            d="M13.9286 26.6H1V1H26.8571V27.362L17.956 45H6.26764L14.8213 28.0505L15.5534 26.6H13.9286ZM51.0714 26.6H38.1429V1H64V27.362L55.0988 45H43.4105L51.9642 28.0505L52.6962 26.6H51.0714Z"
                            fill="currentColor" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                  </span>
                                <div class="td_testimonial_meta td_mb_24">

                                    <div class="td_testimonial_meta_right">
                                        <h3 class="td_fs_24 td_semibold td_mb_2">Professional Ecosystem Frameworks</h3>

                                    </div>
                                </div>
                                <blockquote
                                        class="td_testimonial_text td_fs_20 td_medium td_heading_color td_mb_24 td_opacity_9">
                                    <P>Empower builders with tools for longevity.
                                        Create sustainable career pathways through training, funding, and
                                        recognition.</P>

                                    <p>Key Actions:<br>Certification programs, job boards, and peer mentorship networks.
                                    </p>
                                </blockquote>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="td_height_50 td_height_lg_40"></div>
                <div class="td_pagination td_style_1"></div>
            </div>
        </div>
        <div class="td_height_120 td_height_lg_80"></div>
    </section>
{% endblock %}