{% load static %}
<footer class="td_footer td_style_1 td_color_1">
    <div class="container">
        <div class="td_footer_row">
            <div class="td_footer_col">
                <div class="td_footer_widget">
                    <h2 class="td_footer_widget_title td_fs_32 td_white_color td_medium td_mb_30">Contact Us</h2>
                    <ul class="td_footer_address_widget td_medium td_mp_0">
                        <li><i class="fa-solid fa-envelope"></i><a href="mailto:aseb@aseb.africa">aseb@aseb.africa</a>
                        </li>
                        <li><i class="fa-solid fa-location-dot"></i>Johannesburg, South Africa</li>
                    </ul>
                </div>
            </div>
            <div class="td_footer_col">
                <div class="td_footer_widget">
                    <h2 class="td_footer_widget_title td_fs_32 td_white_color td_medium td_mb_30">Navigate</h2>
                    <ul class="td_footer_widget_menu">
                        <li><a href="{% url 'cea-homepage' %}">Home</a></li>
                        <li><a href="{% url 'about_us' %}">About Us</a></li>
                        <li><a href="{% url 'ecosystems' %}">Ecosystems</a></li>
                        <li><a href="">Team</a></li>
                        <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="td_footer_col">
                <div class="td_footer_widget">
                    <h2 class="td_footer_widget_title td_fs_32 td_white_color td_medium td_mb_30">Subscribe Now</h2>
                    <div class="td_newsletter td_style_1">
                        <p class="td_mb_20 td_opacity_7">Get our newsletter </p>
                        <form action="#" class="td_newsletter_form">
                            <input type="email" class="td_newsletter_input" placeholder="Email address">
                            <button type="submit" class="td_btn td_style_1 td_radius_30 td_medium">
                    <span class="td_btn_in td_white_color td_accent_bg">
                      <span>Subscribe</span>
                    </span>
                            </button>
                        </form>
                    </div>
                    <div class="td_footer_social_btns td_fs_20">
                        <a href="#" class="td_center">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="#" class="td_center">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                        <a href="#" class="td_center">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="td_footer_bottom td_fs_18">
        <div class="container">
            <div class="td_footer_bottom_in">
                <p class="td_copyright mb-0">Copyright ©ASEB | All Right Reserved</p>
                {#                <ul class="td_footer_widget_menu">#}
                {#                    <li><a href="#"> Terms & Conditions</a></li>#}
                {#                    <li><a href="#">Privacy & Policy</a></li>#}
                {#                </ul>#}
            </div>
        </div>
    </div>
</footer>