{% load static %}
<header class="td_site_header td_style_1 td_type_4 td_sticky_header td_medium td_heading_color"
        style="background-color: white">
    <div class="td_main_header">
        <div class="container-fluid">
            <div class="td_main_header_in">
                <div class="td_main_header_left">
                    <a class="td_site_branding" href="">
                        <img src="{% static 'assets/aseb/asebmain.png' %}" alt="Logo">
                    </a>
                    <nav class="td_nav" style="margin-bottom: 20px" >
                        <div class="td_nav_list_wrap">
                            <div class="td_nav_list_wrap_in">
                                <ul class="td_nav_list">
                                    <li>
                                        <a href="index.html" style="color: black">Home</a>
                                    </li>
                                    <li><a href="about.html" style="color: black">About Us</a></li>
                                    <li>
                                        <a href="#" style="color: black">Team</a>
                                    </li>
                                    <li>
                                        <a href="#" style="color: black">Blogs</a>
                                    </li>
                                    <li><a href="contact.html" style="color: black">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="td_main_header_right" style="background-color: #ffffff">
                    <div class="position-relative">
                        <button class="td_circle_btn td_center td_search_tobble_btn" type="button">
                            <img src="{% static 'assets/img/icons/search.svg' %}" alt="">
                        </button>
                        <div class="td_header_search_wrap">
                            <form action="#" class="td_header_search">
                                <input type="text" class="td_header_search_input" placeholder="Search For Anything">
                                <button class="td_header_search_btn td_center">
                                    <img src="{% static 'assets/img/icons/search_2.svg' %}" alt="">
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="td_hero_toolbox_wrap">
                        <a href="signup.html" class="td_btn td_style_1 td_radius_30 td_medium">
                  <span class="td_btn_in td_white_color td_heading_bg">
                    <span>Login</span>
                  </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>